<h1>Admin::Posts#show</h1>
<p>Find me in app/views/admin/posts/show.html.erb</p>
<p>
  <strong><%= @post.body %></strong>
  
</p>


<p style="background:#f4ebeb; padding:15px;">
  
  <%= @post.category.name %>
</p>