<div class="row">
              <div class="col-md-6">
                <div class="post">
                  <img src="img/plaatje2.png" alt="">
                  <div class="post-content">

                    <h3>Handmatig Ruby On Rails installeren. </h3> 
                      <p>
                        <small>Posted by me on sje3ben 1-1800</small>
                        om te beginnen. rubyinstaller.org
                        installeer  ruby dan  cd DevKit
                        ruby dk.rb init  dit maakt config.yml file
                        type config.yml  dit zoekt je rubyversion
                        ruby dk.rb install  ditinst ruby in devkit
                        gem install json --platform=ruby  dit inst json
                        ruby -rubygems -e "require 'json'; puts JSON.load('[42]').inspect"  dit test of json is ginst. als 42 dan goed
                      </p>
                      <a href="" class="btn btn-primary btn-block">Read More</a>

                  </div>
                </div>
              </div>
            
            
              <div class="col-md-6">
                <div class="post">
                  <img src="img/plaatje2.png" alt="">
                  <div class="post-content">
                    <h3>Handmatig Ruby On Rails installeren. </h3> 
                      <p>
                        <small>Posted by you on sje3ben 2-1800</small>
                        om te beginnen. rubyinstaller.org
                        installeer  ruby dan  cd DevKit
                        ruby dk.rb init  dit maakt config.yml file
                        type config.yml  dit zoekt je rubyversion
                        ruby dk.rb install  ditinst ruby in devkit
                        gem install json --platform=ruby  dit inst json
                        ruby -rubygems -e "require 'json'; puts JSON.load('[42]').inspect"  dit test of json is ginst. als 42 dan goed
                      </p>
                      <a href="" class="btn btn-primary btn-block">Read More</a>   
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="post">
                  <img src="img/plaatje2.png" alt="">
                  <div class="post-content">

                    <h3>Handmatig Ruby On Rails installeren. </h3> 
                      <p>
                        <small>Posted by me on sje3ben 1-1800</small>
                        om te beginnen. rubyinstaller.org
                        installeer  ruby dan  cd DevKit
                        ruby dk.rb init  dit maakt config.yml file
                        type config.yml  dit zoekt je rubyversion
                        ruby dk.rb install  ditinst ruby in devkit
                        gem install json --platform=ruby  dit inst json
                        ruby -rubygems -e "require 'json'; puts JSON.load('[42]').inspect"  dit test of json is ginst. als 42 dan goed
                      </p>
                      <a href="" class="btn btn-primary btn-block">Read More</a>

                  </div>
                </div>
              </div>
            
            
              <div class="col-md-6">
                <div class="post">
                  <img src="img/plaatje2.png" alt="">
                  <div class="post-content">
                    <h3>Handmatig Ruby On Rails installeren. </h3> 
                      <p>
                        <small>Posted by you on sje3ben 2-1800</small>
                        om te beginnen. rubyinstaller.org
                        installeer  ruby dan  cd DevKit
                        ruby dk.rb init  dit maakt config.yml file
                        type config.yml  dit zoekt je rubyversion
                        ruby dk.rb install  ditinst ruby in devkit
                        gem install json --platform=ruby  dit inst json
                        ruby -rubygems -e "require 'json'; puts JSON.load('[42]').inspect"  dit test of json is ginst. als 42 dan goed
                      </p>
                      <a href="" class="btn btn-primary btn-block">Read More</a>   
                  </div>
                </div>
              </div>
            </div>